
h3{
    color: yellow;
    background-color: black;
}
h2{
    color: yellow;
    background-color: black;
}
a{
    color: green;
}
p{
    color: white;
    background-color: black;
}
html{
    color: white;
    background-color: black;
}
